In [1]:
import pandas as pd

# Define column names for CustomerDeliveryOrder table
CustomerDeliveryOrder_columns = ['DeliveryID', 'DeliveredDate',
                                 'DeliveryDuration', 'DeliveryStatus',
                                 'QuantityDelivered', 'PaymentDate',
                                 'PaymentMethod', 'PaymentStatus',
                                 'IsOrderCompleted', 'OrderID',
                                 'CLocID']

# Create an empty DataFrame with the specified column names
df = pd.DataFrame(columns=CustomerDeliveryOrder_columns)

# Display the empty DataFrame
print(df)

Empty DataFrame
Columns: [DeliveryID, DeliveredDate, DeliveryDuration, DeliveryStatus, QuantityDelivered, PaymentDate, PaymentMethod, PaymentStatus, IsOrderCompleted, OrderID, CLocID]
Index: []

C:\Users\hamza\AppData\Local\Temp\ipykernel_21200\1094584163.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
import pandas as pd
from faker import Faker

fake = Faker(use_weighting=True,locale='en_US')

In [2]:
ids= []
import random
for i in range(0,500):
   ids.append(i+1)
df['DeliveryID'] = ids
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
q= []
import random
for i in range(0,500):
    a= random.randint(1,15)
    if a<5:
        q.append(3)
    elif a<10:
        q.append(5)
    else:
        q.append(10)
        
df['DeliveryDuration'] = q
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import random

dates = []
for i in range(0,500):
    mm = random.randint(1,12)
    yy = random.randint(2014,2024)
    dd = random.randint(1,28)
    dates.append(f"{dd}-{mm}-{yy}")

df['DeliveredDate'] = dates

df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,2-1-2015,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6-4-2014,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,5-11-2018,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4-4-2020,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,15-10-2015,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,21-1-2015,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,20-5-2015,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,9-2-2014,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,13-2-2019,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,7-6-2024,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
q= []
for i in range(0,500):
    a= random.randint(1,15)
    if a<7:
        q.append('Shipped')
    else:
        q.append('Delivered')

df['DeliveryStatus'] = q
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,2-1-2015,10,Delivered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6-4-2014,3,Shipped,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,5-11-2018,10,Shipped,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4-4-2020,3,Delivered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,15-10-2015,3,Shipped,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,21-1-2015,10,Shipped,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,20-5-2015,10,Delivered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,9-2-2014,10,Delivered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,13-2-2019,5,Delivered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,7-6-2024,10,Delivered,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import random
q= []
for i in range(0,500):
    a= random.randint(1,15)
    q.append(a)

df['QuantityDelivered'] = q
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,2-1-2015,10,Delivered,11,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6-4-2014,3,Shipped,1,NaN,NaN,NaN,NaN,NaN,NaN
2,3,5-11-2018,10,Shipped,10,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4-4-2020,3,Delivered,5,NaN,NaN,NaN,NaN,NaN,NaN
4,5,15-10-2015,3,Shipped,8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,21-1-2015,10,Shipped,6,NaN,NaN,NaN,NaN,NaN,NaN
496,497,20-5-2015,10,Delivered,7,NaN,NaN,NaN,NaN,NaN,NaN
497,498,9-2-2014,10,Delivered,3,NaN,NaN,NaN,NaN,NaN,NaN
498,499,13-2-2019,5,Delivered,1,NaN,NaN,NaN,NaN,NaN,NaN
499,500,7-6-2024,10,Delivered,1,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
from datetime import datetime, timedelta
# Convert the delivered dates to datetime objects
delivered_dates = [datetime.strptime(date, '%d-%m-%Y') for date in df['DeliveredDate']]

# Generate payment dates Â±10 days from the delivered dates
payment_dates = [date + timedelta(days=random.randint(-10, 10)) for date in delivered_dates]

# Convert the payment dates back to the desired format
payment_dates = [date.strftime('%d-%m-%Y') for date in payment_dates]

# Assign the payment dates to the 'PaymentDate' column in the dataframe
df['PaymentDate'] = payment_dates

# Display the updated dataframe
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,2-1-2015,10,Delivered,11,05-01-2015,NaN,NaN,NaN,NaN,NaN
1,2,6-4-2014,3,Shipped,1,15-04-2014,NaN,NaN,NaN,NaN,NaN
2,3,5-11-2018,10,Shipped,10,06-11-2018,NaN,NaN,NaN,NaN,NaN
3,4,4-4-2020,3,Delivered,5,11-04-2020,NaN,NaN,NaN,NaN,NaN
4,5,15-10-2015,3,Shipped,8,15-10-2015,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,21-1-2015,10,Shipped,6,31-01-2015,NaN,NaN,NaN,NaN,NaN
496,497,20-5-2015,10,Delivered,7,10-05-2015,NaN,NaN,NaN,NaN,NaN
497,498,9-2-2014,10,Delivered,3,04-02-2014,NaN,NaN,NaN,NaN,NaN
498,499,13-2-2019,5,Delivered,1,22-02-2019,NaN,NaN,NaN,NaN,NaN
499,500,7-6-2024,10,Delivered,1,31-05-2024,NaN,NaN,NaN,NaN,NaN

In [8]:
p=[]
for i in range(0,500):
    p.append(random.choice(['Cash','Card','Paypal']))
df['PaymentMethod'] = p

In [9]:
q= []
for i in range(0,500):
    a= random.randint(1,15)
    if a<7:
        q.append('Paid')
    else:
        q.append('Pending')

df['PaymentStatus'] = q
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,2-1-2015,10,Delivered,11,05-01-2015,Card,Pending,NaN,NaN,NaN
1,2,6-4-2014,3,Shipped,1,15-04-2014,Paypal,Pending,NaN,NaN,NaN
2,3,5-11-2018,10,Shipped,10,06-11-2018,Card,Pending,NaN,NaN,NaN
3,4,4-4-2020,3,Delivered,5,11-04-2020,Cash,Pending,NaN,NaN,NaN
4,5,15-10-2015,3,Shipped,8,15-10-2015,Paypal,Pending,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,21-1-2015,10,Shipped,6,31-01-2015,Paypal,Paid,NaN,NaN,NaN
496,497,20-5-2015,10,Delivered,7,10-05-2015,Card,Pending,NaN,NaN,NaN
497,498,9-2-2014,10,Delivered,3,04-02-2014,Cash,Paid,NaN,NaN,NaN
498,499,13-2-2019,5,Delivered,1,22-02-2019,Card,Pending,NaN,NaN,NaN
499,500,7-6-2024,10,Delivered,1,31-05-2024,Paypal,Paid,NaN,NaN,NaN

In [10]:
df['IsOrderCompleted'] = df['DeliveryStatus'].apply(lambda x: 1 if x == 'Delivered' else 0)

In [11]:
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,2-1-2015,10,Delivered,11,05-01-2015,Card,Pending,1,NaN,NaN
1,2,6-4-2014,3,Shipped,1,15-04-2014,Paypal,Pending,0,NaN,NaN
2,3,5-11-2018,10,Shipped,10,06-11-2018,Card,Pending,0,NaN,NaN
3,4,4-4-2020,3,Delivered,5,11-04-2020,Cash,Pending,1,NaN,NaN
4,5,15-10-2015,3,Shipped,8,15-10-2015,Paypal,Pending,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,21-1-2015,10,Shipped,6,31-01-2015,Paypal,Paid,0,NaN,NaN
496,497,20-5-2015,10,Delivered,7,10-05-2015,Card,Pending,1,NaN,NaN
497,498,9-2-2014,10,Delivered,3,04-02-2014,Cash,Paid,1,NaN,NaN
498,499,13-2-2019,5,Delivered,1,22-02-2019,Card,Pending,1,NaN,NaN
499,500,7-6-2024,10,Delivered,1,31-05-2024,Paypal,Paid,1,NaN,NaN

In [12]:
ids= []
for i in range(0,500):
   a=random.randint(1,200)
   ids.append(a)
df['OrderID'] = ids
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,2-1-2015,10,Delivered,11,05-01-2015,Card,Pending,1,73,NaN
1,2,6-4-2014,3,Shipped,1,15-04-2014,Paypal,Pending,0,62,NaN
2,3,5-11-2018,10,Shipped,10,06-11-2018,Card,Pending,0,26,NaN
3,4,4-4-2020,3,Delivered,5,11-04-2020,Cash,Pending,1,136,NaN
4,5,15-10-2015,3,Shipped,8,15-10-2015,Paypal,Pending,0,131,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,21-1-2015,10,Shipped,6,31-01-2015,Paypal,Paid,0,118,NaN
496,497,20-5-2015,10,Delivered,7,10-05-2015,Card,Pending,1,48,NaN
497,498,9-2-2014,10,Delivered,3,04-02-2014,Cash,Paid,1,72,NaN
498,499,13-2-2019,5,Delivered,1,22-02-2019,Card,Pending,1,59,NaN
499,500,7-6-2024,10,Delivered,1,31-05-2024,Paypal,Paid,1,138,NaN

In [13]:
ids= []
for i in range(0,500):
    a= random.randint(1,25)
    ids.append(a)

df['CLocID'] = ids
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,2-1-2015,10,Delivered,11,05-01-2015,Card,Pending,1,73,9
1,2,6-4-2014,3,Shipped,1,15-04-2014,Paypal,Pending,0,62,21
2,3,5-11-2018,10,Shipped,10,06-11-2018,Card,Pending,0,26,7
3,4,4-4-2020,3,Delivered,5,11-04-2020,Cash,Pending,1,136,15
4,5,15-10-2015,3,Shipped,8,15-10-2015,Paypal,Pending,0,131,24
...,...,...,...,...,...,...,...,...,...,...,...
495,496,21-1-2015,10,Shipped,6,31-01-2015,Paypal,Paid,0,118,4
496,497,20-5-2015,10,Delivered,7,10-05-2015,Card,Pending,1,48,3
497,498,9-2-2014,10,Delivered,3,04-02-2014,Cash,Paid,1,72,8
498,499,13-2-2019,5,Delivered,1,22-02-2019,Card,Pending,1,59,3
499,500,7-6-2024,10,Delivered,1,31-05-2024,Paypal,Paid,1,138,9

In [14]:
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,2-1-2015,10,Delivered,11,05-01-2015,Card,Pending,1,73,9
1,2,6-4-2014,3,Shipped,1,15-04-2014,Paypal,Pending,0,62,21
2,3,5-11-2018,10,Shipped,10,06-11-2018,Card,Pending,0,26,7
3,4,4-4-2020,3,Delivered,5,11-04-2020,Cash,Pending,1,136,15
4,5,15-10-2015,3,Shipped,8,15-10-2015,Paypal,Pending,0,131,24
...,...,...,...,...,...,...,...,...,...,...,...
495,496,21-1-2015,10,Shipped,6,31-01-2015,Paypal,Paid,0,118,4
496,497,20-5-2015,10,Delivered,7,10-05-2015,Card,Pending,1,48,3
497,498,9-2-2014,10,Delivered,3,04-02-2014,Cash,Paid,1,72,8
498,499,13-2-2019,5,Delivered,1,22-02-2019,Card,Pending,1,59,3
499,500,7-6-2024,10,Delivered,1,31-05-2024,Paypal,Paid,1,138,9

In [17]:
df.to_csv('Data/CustomerDeliveryOrder.csv',index=False)