In [3]:
import pandas as pd

# Define column names for CustomerDeliveryOrder table
CustomerDeliveryOrder_columns = ['DeliveryID', 'DeliveredDate',
                                 'DeliveryDuration', 'DeliveryStatus',
                                 'QuantityDelivered', 'PaymentDate',
                                 'PaymentMethod', 'PaymentStatus',
                                 'IsOrderCompleted', 'OrderID',
                                 'CLocID']

# Create an empty DataFrame with the specified column names
df = pd.DataFrame(columns=CustomerDeliveryOrder_columns)

# Display the empty DataFrame
print(df)

Empty DataFrame
Columns: [DeliveryID, DeliveredDate, DeliveryDuration, DeliveryStatus, QuantityDelivered, PaymentDate, PaymentMethod, PaymentStatus, IsOrderCompleted, OrderID, CLocID]
Index: []

In [4]:
import pandas as pd
from faker import Faker

fake = Faker(use_weighting=True,locale='en_US')

In [23]:
ids= []
import random
for i in range(0,500):
   a=random.randint(1,200) #jitne order utne deliveries
   ids.append(a)
df['DeliveryID'] = ids
df

,DeliveryID,DeliveredDate,DeliveryDuration,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID,DeliveryStatus
0,48,17-1-2024,10,12,26-01-2024,Card,Paid,1,1,1,Shipped
1,145,18-9-2017,10,7,27-09-2017,Card,Pending,1,2,16,Delivered
2,138,8-7-2022,5,12,30-06-2022,Card,Paid,1,3,16,Delivered
3,170,19-11-2016,3,3,16-11-2016,Card,Pending,0,4,18,Shipped
4,188,10-8-2017,5,12,15-08-2017,Paypal,Pending,1,5,16,Delivered
...,...,...,...,...,...,...,...,...,...,...,...
495,58,12-5-2017,3,9,18-05-2017,Cash,Pending,1,496,17,Delivered
496,65,11-3-2023,5,14,16-03-2023,Paypal,Pending,1,497,15,Delivered
497,8,18-3-2017,10,9,11-03-2017,Paypal,Pending,0,498,8,Delivered
498,49,1-2-2024,5,9,27-01-2024,Paypal,Pending,1,499,2,Shipped
499,163,9-7-2022,5,11,29-06-2022,Card,Pending,1,500,3,Delivered

In [6]:
q= []
import random
for i in range(0,500):
    a= random.randint(1,15)
    if a<5:
        q.append(3)
    elif a<10:
        q.append(5)
    else:
        q.append(10)
        
df['DeliveryDuration'] = q
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import random

dates = []
for i in range(0,500):
    mm = random.randint(1,12)
    yy = random.randint(2014,2024)
    dd = random.randint(1,28)
    dates.append(f"{dd}-{mm}-{yy}")

df['DeliveredDate'] = dates

df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,17-1-2024,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,18-9-2017,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,8-7-2022,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,19-11-2016,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,10-8-2017,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,12-5-2017,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,11-3-2023,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,18-3-2017,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,1-2-2024,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,9-7-2022,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
q= []
for i in range(0,500):
    a= random.randint(1,15)
    if a<7:
        q.append('Shipped')
    else:
        q.append('Delivered')

df['DeliveryStatus'] = q
df

,DeliveryID,DeliveredDate,DeliveryDuration,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID,DeliveryStatus
0,1,17-1-2024,10,12,26-01-2024,Card,Paid,1,1,1,Shipped
1,2,18-9-2017,10,7,27-09-2017,Card,Pending,1,2,16,Delivered
2,3,8-7-2022,5,12,30-06-2022,Card,Paid,1,3,16,Delivered
3,4,19-11-2016,3,3,16-11-2016,Card,Pending,0,4,18,Shipped
4,5,10-8-2017,5,12,15-08-2017,Paypal,Pending,1,5,16,Delivered
...,...,...,...,...,...,...,...,...,...,...,...
495,496,12-5-2017,3,9,18-05-2017,Cash,Pending,1,496,17,Delivered
496,497,11-3-2023,5,14,16-03-2023,Paypal,Pending,1,497,15,Delivered
497,498,18-3-2017,10,9,11-03-2017,Paypal,Pending,0,498,8,Delivered
498,499,1-2-2024,5,9,27-01-2024,Paypal,Pending,1,499,2,Shipped
499,500,9-7-2022,5,11,29-06-2022,Card,Pending,1,500,3,Delivered

In [9]:
import random
q= []
for i in range(0,500):
    a= random.randint(1,15)
    q.append(a)

df['QuantityDelivered'] = q
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,17-1-2024,10,Delivered,12,NaN,NaN,NaN,NaN,NaN,NaN
1,2,18-9-2017,10,Delivered,7,NaN,NaN,NaN,NaN,NaN,NaN
2,3,8-7-2022,5,Delivered,12,NaN,NaN,NaN,NaN,NaN,NaN
3,4,19-11-2016,3,Shipped,3,NaN,NaN,NaN,NaN,NaN,NaN
4,5,10-8-2017,5,Delivered,12,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,12-5-2017,3,Delivered,9,NaN,NaN,NaN,NaN,NaN,NaN
496,497,11-3-2023,5,Delivered,14,NaN,NaN,NaN,NaN,NaN,NaN
497,498,18-3-2017,10,Shipped,9,NaN,NaN,NaN,NaN,NaN,NaN
498,499,1-2-2024,5,Delivered,9,NaN,NaN,NaN,NaN,NaN,NaN
499,500,9-7-2022,5,Delivered,11,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
from datetime import datetime, timedelta
# Convert the delivered dates to datetime objects
delivered_dates = [datetime.strptime(date, '%d-%m-%Y') for date in df['DeliveredDate']]

# Generate payment dates Â±10 days from the delivered dates
payment_dates = [date + timedelta(days=random.randint(-10, 10)) for date in delivered_dates]

# Convert the payment dates back to the desired format
payment_dates = [date.strftime('%d-%m-%Y') for date in payment_dates]

# Assign the payment dates to the 'PaymentDate' column in the dataframe
df['PaymentDate'] = payment_dates

# Display the updated dataframe
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID
0,1,17-1-2024,10,Delivered,12,26-01-2024,NaN,NaN,NaN,NaN,NaN
1,2,18-9-2017,10,Delivered,7,27-09-2017,NaN,NaN,NaN,NaN,NaN
2,3,8-7-2022,5,Delivered,12,30-06-2022,NaN,NaN,NaN,NaN,NaN
3,4,19-11-2016,3,Shipped,3,16-11-2016,NaN,NaN,NaN,NaN,NaN
4,5,10-8-2017,5,Delivered,12,15-08-2017,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,496,12-5-2017,3,Delivered,9,18-05-2017,NaN,NaN,NaN,NaN,NaN
496,497,11-3-2023,5,Delivered,14,16-03-2023,NaN,NaN,NaN,NaN,NaN
497,498,18-3-2017,10,Shipped,9,11-03-2017,NaN,NaN,NaN,NaN,NaN
498,499,1-2-2024,5,Delivered,9,27-01-2024,NaN,NaN,NaN,NaN,NaN
499,500,9-7-2022,5,Delivered,11,29-06-2022,NaN,NaN,NaN,NaN,NaN

In [11]:
p=[]
for i in range(0,500):
    p.append(random.choice(['Cash','Card','Paypal']))
df['PaymentMethod'] = p

In [13]:
q= []
for i in range(0,500):
    a= random.randint(1,15)
    if a<7:
        q.append('Paid')
    else:
        q.append('Pending')

df['PaymentStatus'] = q
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID,ShippingStatus
0,1,17-1-2024,10,Delivered,12,26-01-2024,Card,Paid,NaN,NaN,NaN,Paid
1,2,18-9-2017,10,Delivered,7,27-09-2017,Card,Pending,NaN,NaN,NaN,Paid
2,3,8-7-2022,5,Delivered,12,30-06-2022,Card,Paid,NaN,NaN,NaN,Pending
3,4,19-11-2016,3,Shipped,3,16-11-2016,Card,Pending,NaN,NaN,NaN,Pending
4,5,10-8-2017,5,Delivered,12,15-08-2017,Paypal,Pending,NaN,NaN,NaN,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,12-5-2017,3,Delivered,9,18-05-2017,Cash,Pending,NaN,NaN,NaN,Pending
496,497,11-3-2023,5,Delivered,14,16-03-2023,Paypal,Pending,NaN,NaN,NaN,Pending
497,498,18-3-2017,10,Shipped,9,11-03-2017,Paypal,Pending,NaN,NaN,NaN,Pending
498,499,1-2-2024,5,Delivered,9,27-01-2024,Paypal,Pending,NaN,NaN,NaN,Paid
499,500,9-7-2022,5,Delivered,11,29-06-2022,Card,Pending,NaN,NaN,NaN,Pending

In [14]:
df['IsOrderCompleted'] = df['DeliveryStatus'].apply(lambda x: 1 if x == 'Delivered' else 0)

In [15]:
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID,ShippingStatus
0,1,17-1-2024,10,Delivered,12,26-01-2024,Card,Paid,1,NaN,NaN,Paid
1,2,18-9-2017,10,Delivered,7,27-09-2017,Card,Pending,1,NaN,NaN,Paid
2,3,8-7-2022,5,Delivered,12,30-06-2022,Card,Paid,1,NaN,NaN,Pending
3,4,19-11-2016,3,Shipped,3,16-11-2016,Card,Pending,0,NaN,NaN,Pending
4,5,10-8-2017,5,Delivered,12,15-08-2017,Paypal,Pending,1,NaN,NaN,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,12-5-2017,3,Delivered,9,18-05-2017,Cash,Pending,1,NaN,NaN,Pending
496,497,11-3-2023,5,Delivered,14,16-03-2023,Paypal,Pending,1,NaN,NaN,Pending
497,498,18-3-2017,10,Shipped,9,11-03-2017,Paypal,Pending,0,NaN,NaN,Pending
498,499,1-2-2024,5,Delivered,9,27-01-2024,Paypal,Pending,1,NaN,NaN,Paid
499,500,9-7-2022,5,Delivered,11,29-06-2022,Card,Pending,1,NaN,NaN,Pending

In [24]:
ids= []
for i in range(0,500):
   a=random.randint(1,200)
   ids.append(a)
df['OrderID'] = ids
df

,DeliveryID,DeliveredDate,DeliveryDuration,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID,DeliveryStatus
0,48,17-1-2024,10,12,26-01-2024,Card,Paid,1,193,1,Shipped
1,145,18-9-2017,10,7,27-09-2017,Card,Pending,1,40,16,Delivered
2,138,8-7-2022,5,12,30-06-2022,Card,Paid,1,116,16,Delivered
3,170,19-11-2016,3,3,16-11-2016,Card,Pending,0,149,18,Shipped
4,188,10-8-2017,5,12,15-08-2017,Paypal,Pending,1,110,16,Delivered
...,...,...,...,...,...,...,...,...,...,...,...
495,58,12-5-2017,3,9,18-05-2017,Cash,Pending,1,49,17,Delivered
496,65,11-3-2023,5,14,16-03-2023,Paypal,Pending,1,114,15,Delivered
497,8,18-3-2017,10,9,11-03-2017,Paypal,Pending,0,107,8,Delivered
498,49,1-2-2024,5,9,27-01-2024,Paypal,Pending,1,94,2,Shipped
499,163,9-7-2022,5,11,29-06-2022,Card,Pending,1,168,3,Delivered

In [17]:
ids= []
for i in range(0,500):
    a= random.randint(1,25)
    ids.append(a)

df['CLocID'] = ids
df

,DeliveryID,DeliveredDate,DeliveryDuration,DeliveryStatus,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID,ShippingStatus
0,1,17-1-2024,10,Delivered,12,26-01-2024,Card,Paid,1,1,1,Paid
1,2,18-9-2017,10,Delivered,7,27-09-2017,Card,Pending,1,2,16,Paid
2,3,8-7-2022,5,Delivered,12,30-06-2022,Card,Paid,1,3,16,Pending
3,4,19-11-2016,3,Shipped,3,16-11-2016,Card,Pending,0,4,18,Pending
4,5,10-8-2017,5,Delivered,12,15-08-2017,Paypal,Pending,1,5,16,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,12-5-2017,3,Delivered,9,18-05-2017,Cash,Pending,1,496,17,Pending
496,497,11-3-2023,5,Delivered,14,16-03-2023,Paypal,Pending,1,497,15,Pending
497,498,18-3-2017,10,Shipped,9,11-03-2017,Paypal,Pending,0,498,8,Pending
498,499,1-2-2024,5,Delivered,9,27-01-2024,Paypal,Pending,1,499,2,Paid
499,500,9-7-2022,5,Delivered,11,29-06-2022,Card,Pending,1,500,3,Pending

In [21]:
df

,DeliveryID,DeliveredDate,DeliveryDuration,QuantityDelivered,PaymentDate,PaymentMethod,PaymentStatus,IsOrderCompleted,OrderID,CLocID,DeliveryStatus
0,1,17-1-2024,10,12,26-01-2024,Card,Paid,1,1,1,Shipped
1,2,18-9-2017,10,7,27-09-2017,Card,Pending,1,2,16,Delivered
2,3,8-7-2022,5,12,30-06-2022,Card,Paid,1,3,16,Delivered
3,4,19-11-2016,3,3,16-11-2016,Card,Pending,0,4,18,Shipped
4,5,10-8-2017,5,12,15-08-2017,Paypal,Pending,1,5,16,Delivered
...,...,...,...,...,...,...,...,...,...,...,...
495,496,12-5-2017,3,9,18-05-2017,Cash,Pending,1,496,17,Delivered
496,497,11-3-2023,5,14,16-03-2023,Paypal,Pending,1,497,15,Delivered
497,498,18-3-2017,10,9,11-03-2017,Paypal,Pending,0,498,8,Delivered
498,499,1-2-2024,5,9,27-01-2024,Paypal,Pending,1,499,2,Shipped
499,500,9-7-2022,5,11,29-06-2022,Card,Pending,1,500,3,Delivered

In [22]:
df.to_csv('CustomerDeliveryOrder.csv',index=False)