In [1]:
import pandas as pd
from faker import Faker

fake = Faker(use_weighting=True,locale='en_US')

C:\Users\hamza\AppData\Local\Temp\ipykernel_13636\564241095.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
import pandas as pd

# Define column names for ProductExpiryDate table
ProductExpiryDate_columns = ['EDateID', 'ExpiryYear', 
                             'ExpiryQuarter', 'ExpiryMonth', 
                             'ExpiryWeek', 'ExpiryDay']

# Create an empty DataFrame with the specified column names
df = pd.DataFrame(columns=ProductExpiryDate_columns)

# Display the empty DataFrame
df

Empty DataFrame
Columns: [EDateID, ExpiryYear, ExpiryQuarter, ExpiryMonth, ExpiryWeek, ExpiryDay]
Index: []

In [3]:
import random
edate = []
for i in range(0,500):
    a= random.randint(1,300)
    edate.append(a)
df['EDateID'] = edate
df

     EDateID ExpiryYear ExpiryQuarter ExpiryMonth ExpiryWeek ExpiryDay
0        222        NaN           NaN         NaN        NaN       NaN
1        125        NaN           NaN         NaN        NaN       NaN
2         28        NaN           NaN         NaN        NaN       NaN
3        244        NaN           NaN         NaN        NaN       NaN
4        236        NaN           NaN         NaN        NaN       NaN
..       ...        ...           ...         ...        ...       ...
495      137        NaN           NaN         NaN        NaN       NaN
496       86        NaN           NaN         NaN        NaN       NaN
497      218        NaN           NaN         NaN        NaN       NaN
498      170        NaN           NaN         NaN        NaN       NaN
499      182        NaN           NaN         NaN        NaN       NaN

[500 rows x 6 columns]

In [4]:
y = []
q= []
m = []
w = []
d = []
for i in range(0,500):
    a= random.randint(2024,2026)
    y.append(a)
    q.append(random.randint(1,4))
    m.append(random.randint(1,12))
    w.append(random.randint(1,52))
    d.append(random.randint(1,31))
df['ExpiryYear'] = y
df['ExpiryQuarter'] = q
df['ExpiryMonth'] = m
df['ExpiryWeek'] = w
df['ExpiryDay'] = d
df

     EDateID  ExpiryYear  ExpiryQuarter  ExpiryMonth  ExpiryWeek  ExpiryDay
0        222        2026              4            1          25         24
1        125        2024              2            6          31          6
2         28        2024              4            7          44         30
3        244        2026              1            4          27         28
4        236        2025              4            6          47         22
..       ...         ...            ...          ...         ...        ...
495      137        2026              3           10           8         25
496       86        2026              4            5          17         11
497      218        2024              3            5          51         27
498      170        2024              1            5          36         17
499      182        2024              1           11          52         12

[500 rows x 6 columns]

In [5]:
df.to_csv('Data/ProductExpiryDate.csv',index=False)