In [4]:
import pandas as pd
from faker import Faker

fake = Faker(use_weighting=True,locale='en_US')

C:\Users\hamza\AppData\Local\Temp\ipykernel_6132\3291989358.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
import pandas as pd

# Define column names for Inventory table
Inventory_columns = ['InventoryID', 'InventoryName', 
                     'InventoryRackNumber', 'InventoryBatchNumber', 
                     'Inventory_Initial_Quantity_Ordered', 
                     'InventoryQuantityUsed',
                     'InventoryQuantityinTransit', 
                     'InventoryQuantityinStock',
                     'InventoryReorderThreshold', 
                     'InventoryDamagedQuantity', 
                     'InventoryStockStatus', 'InventoryType', 
                     'WarehouseID', 'RawMaterialID']

# Create an empty DataFrame with the specified column names
df = pd.DataFrame(columns=Inventory_columns)

# Display the empty DataFrame
df

Empty DataFrame
Columns: [InventoryID, InventoryName, InventoryRackNumber, InventoryBatchNumber, Inventory_Initial_Quantity_Ordered, InventoryQuantityUsed, InventoryQuantityinTransit, InventoryQuantityinStock, InventoryReorderThreshold, InventoryDamagedQuantity, InventoryStockStatus, InventoryType, WarehouseID, RawMaterialID]
Index: []

In [6]:
import random
q= []
for i in range(1,501):
    q.append(i)
        
df['InventoryID'] = q
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['InventoryName'] = df['InventoryID'].map(lambda x: "Inv" + str(x))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#randomly add InventoryRackNumber
df['InventoryRackNumber'] = random.sample(range(1, 1000), 500)
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#randomly add InventoryRackNumber
df['InventoryBatchNumber'] = random.sample(range(1, 1500), 500)
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,665,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,481,799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,253,922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,735,532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,593,1473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,409,804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,35,482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,692,979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# randomly add InventoryRackNumber
df['Inventory_Initial_Quantity_Ordered'] = random.choices(range(100, 300), k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,665,37,293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,481,799,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,253,922,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,735,532,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,593,1473,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,409,804,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,35,482,166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,692,979,224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df['InventoryQuantityUsed'] = random.choices(range(1, 100), k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,230,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,665,37,293,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,481,799,290,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,253,922,223,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,735,532,186,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,106,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,593,1473,202,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,409,804,101,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,35,482,166,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,692,979,224,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# randomly add InventoryRackNumber
df['InventoryQuantityinTransit'] = random.choices(range(20, 60), k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,230,39,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,665,37,293,28,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,481,799,290,63,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,253,922,223,56,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,735,532,186,45,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,106,74,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,593,1473,202,51,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,409,804,101,11,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,35,482,166,16,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,692,979,224,9,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# randomly add InventoryRackNumber
df['InventoryDamagedQuantity'] = random.choices(range(5, 10), k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,230,39,21,NaN,NaN,6,NaN,NaN,NaN,NaN
1,2,Inv2,665,37,293,28,50,NaN,NaN,6,NaN,NaN,NaN,NaN
2,3,Inv3,481,799,290,63,58,NaN,NaN,9,NaN,NaN,NaN,NaN
3,4,Inv4,253,922,223,56,44,NaN,NaN,7,NaN,NaN,NaN,NaN
4,5,Inv5,735,532,186,45,57,NaN,NaN,8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,106,74,34,NaN,NaN,9,NaN,NaN,NaN,NaN
496,497,Inv497,593,1473,202,51,56,NaN,NaN,9,NaN,NaN,NaN,NaN
497,498,Inv498,409,804,101,11,53,NaN,NaN,7,NaN,NaN,NaN,NaN
498,499,Inv499,35,482,166,16,29,NaN,NaN,5,NaN,NaN,NaN,NaN
499,500,Inv500,692,979,224,9,21,NaN,NaN,8,NaN,NaN,NaN,NaN

In [14]:
#qunaity orderd - qunaity used is InventoryQuantityinStock
df['InventoryQuantityinStock'] = df['Inventory_Initial_Quantity_Ordered'] - df['InventoryQuantityUsed']
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,230,39,21,191,NaN,6,NaN,NaN,NaN,NaN
1,2,Inv2,665,37,293,28,50,265,NaN,6,NaN,NaN,NaN,NaN
2,3,Inv3,481,799,290,63,58,227,NaN,9,NaN,NaN,NaN,NaN
3,4,Inv4,253,922,223,56,44,167,NaN,7,NaN,NaN,NaN,NaN
4,5,Inv5,735,532,186,45,57,141,NaN,8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,106,74,34,32,NaN,9,NaN,NaN,NaN,NaN
496,497,Inv497,593,1473,202,51,56,151,NaN,9,NaN,NaN,NaN,NaN
497,498,Inv498,409,804,101,11,53,90,NaN,7,NaN,NaN,NaN,NaN
498,499,Inv499,35,482,166,16,29,150,NaN,5,NaN,NaN,NaN,NaN
499,500,Inv500,692,979,224,9,21,215,NaN,8,NaN,NaN,NaN,NaN

In [16]:
ids= []
for i in range(0,500):
   ids.append(random.choice(range(0, 15)))

df['WarehouseID'] = ids
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,230,39,21,191,NaN,6,NaN,NaN,14,NaN
1,2,Inv2,665,37,293,28,50,265,NaN,6,NaN,NaN,6,NaN
2,3,Inv3,481,799,290,63,58,227,NaN,9,NaN,NaN,12,NaN
3,4,Inv4,253,922,223,56,44,167,NaN,7,NaN,NaN,0,NaN
4,5,Inv5,735,532,186,45,57,141,NaN,8,NaN,NaN,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,106,74,34,32,NaN,9,NaN,NaN,5,NaN
496,497,Inv497,593,1473,202,51,56,151,NaN,9,NaN,NaN,5,NaN
497,498,Inv498,409,804,101,11,53,90,NaN,7,NaN,NaN,3,NaN
498,499,Inv499,35,482,166,16,29,150,NaN,5,NaN,NaN,11,NaN
499,500,Inv500,692,979,224,9,21,215,NaN,8,NaN,NaN,13,NaN

In [17]:
ids= []
for i in range(0,500):
   ids.append(random.choice(range(0, 65)))

df['RawMaterialID'] = ids
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,230,39,21,191,NaN,6,NaN,NaN,14,39
1,2,Inv2,665,37,293,28,50,265,NaN,6,NaN,NaN,6,6
2,3,Inv3,481,799,290,63,58,227,NaN,9,NaN,NaN,12,29
3,4,Inv4,253,922,223,56,44,167,NaN,7,NaN,NaN,0,10
4,5,Inv5,735,532,186,45,57,141,NaN,8,NaN,NaN,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,106,74,34,32,NaN,9,NaN,NaN,5,42
496,497,Inv497,593,1473,202,51,56,151,NaN,9,NaN,NaN,5,40
497,498,Inv498,409,804,101,11,53,90,NaN,7,NaN,NaN,3,10
498,499,Inv499,35,482,166,16,29,150,NaN,5,NaN,NaN,11,14
499,500,Inv500,692,979,224,9,21,215,NaN,8,NaN,NaN,13,29

In [18]:
#randomly add InventoryStockStatus
df['InventoryStockStatus'] = random.choices(['In Stock', 'Out of Stock', 'In Transit', 'Damaged'], k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,230,39,21,191,NaN,6,Damaged,NaN,14,39
1,2,Inv2,665,37,293,28,50,265,NaN,6,Damaged,NaN,6,6
2,3,Inv3,481,799,290,63,58,227,NaN,9,In Stock,NaN,12,29
3,4,Inv4,253,922,223,56,44,167,NaN,7,Damaged,NaN,0,10
4,5,Inv5,735,532,186,45,57,141,NaN,8,Damaged,NaN,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,106,74,34,32,NaN,9,Out of Stock,NaN,5,42
496,497,Inv497,593,1473,202,51,56,151,NaN,9,In Transit,NaN,5,40
497,498,Inv498,409,804,101,11,53,90,NaN,7,In Transit,NaN,3,10
498,499,Inv499,35,482,166,16,29,150,NaN,5,In Transit,NaN,11,14
499,500,Inv500,692,979,224,9,21,215,NaN,8,Out of Stock,NaN,13,29

In [19]:
#randomly add InventoryType
df['InventoryType'] = random.choices(['Raw Material', 'Work in Progress', 'Finished Goods'], k=len(df))

In [20]:
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,146,913,230,39,21,191,NaN,6,Damaged,Finished Goods,14,39
1,2,Inv2,665,37,293,28,50,265,NaN,6,Damaged,Raw Material,6,6
2,3,Inv3,481,799,290,63,58,227,NaN,9,In Stock,Finished Goods,12,29
3,4,Inv4,253,922,223,56,44,167,NaN,7,Damaged,Finished Goods,0,10
4,5,Inv5,735,532,186,45,57,141,NaN,8,Damaged,Work in Progress,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,850,84,106,74,34,32,NaN,9,Out of Stock,Raw Material,5,42
496,497,Inv497,593,1473,202,51,56,151,NaN,9,In Transit,Raw Material,5,40
497,498,Inv498,409,804,101,11,53,90,NaN,7,In Transit,Raw Material,3,10
498,499,Inv499,35,482,166,16,29,150,NaN,5,In Transit,Raw Material,11,14
499,500,Inv500,692,979,224,9,21,215,NaN,8,Out of Stock,Raw Material,13,29