In [5]:
import pandas as pd
from faker import Faker

fake = Faker(use_weighting=True,locale='en_US')

C:\Users\hamza\AppData\Local\Temp\ipykernel_10564\3291989358.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
import pandas as pd

# Define column names for Inventory table
Inventory_columns = ['InventoryID', 'InventoryName', 
                     'InventoryRackNumber', 'InventoryBatchNumber', 
                     'Inventory_Initial_Quantity_Ordered', 
                     'InventoryQuantityUsed',
                     'InventoryQuantityinTransit', 
                     'InventoryQuantityinStock',
                     'InventoryReorderThreshold', 
                     'InventoryDamagedQuantity', 
                     'InventoryStockStatus', 'InventoryType', 
                     'WarehouseID', 'RawMaterialID']

# Create an empty DataFrame with the specified column names
df = pd.DataFrame(columns=Inventory_columns)

# Display the empty DataFrame
df

Empty DataFrame
Columns: [InventoryID, InventoryName, InventoryRackNumber, InventoryBatchNumber, Inventory_Initial_Quantity_Ordered, InventoryQuantityUsed, InventoryQuantityinTransit, InventoryQuantityinStock, InventoryReorderThreshold, InventoryDamagedQuantity, InventoryStockStatus, InventoryType, WarehouseID, RawMaterialID]
Index: []

In [7]:
import random
q= []
for i in range(1,501):
    q.append(i)
        
df['InventoryID'] = q
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df['InventoryName'] = df['InventoryID'].map(lambda x: "Inv" + str(x))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#randomly add InventoryRackNumber
df['InventoryRackNumber'] = random.sample(range(1, 1000), 500)
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#randomly add InventoryRackNumber
df['InventoryBatchNumber'] = random.sample(range(1, 1500), 500)
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,1453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,928,834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,733,1090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,278,726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,980,475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,545,1242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,763,1464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,832,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,471,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# randomly add InventoryRackNumber
df['Inventory_Initial_Quantity_Ordered'] = random.choices(range(100, 300), k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,1453,239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,928,834,299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,733,1090,164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,278,726,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,980,475,164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,704,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,545,1242,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,763,1464,254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,832,87,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,471,185,286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['InventoryQuantityUsed'] = random.choices(range(1, 100), k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,1453,239,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,928,834,299,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,733,1090,164,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,278,726,121,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,980,475,164,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,704,107,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,545,1242,186,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,763,1464,254,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,832,87,144,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,471,185,286,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# randomly add InventoryRackNumber
df['InventoryQuantityinTransit'] = random.choices(range(20, 60), k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,1453,239,6,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Inv2,928,834,299,55,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inv3,733,1090,164,86,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Inv4,278,726,121,23,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Inv5,980,475,164,36,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,704,107,46,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inv497,545,1242,186,60,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Inv498,763,1464,254,86,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Inv499,832,87,144,76,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Inv500,471,185,286,5,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# randomly add InventoryRackNumber
df['InventoryDamagedQuantity'] = random.choices(range(5, 10), k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,1453,239,6,37,NaN,NaN,6,NaN,NaN,NaN,NaN
1,2,Inv2,928,834,299,55,20,NaN,NaN,8,NaN,NaN,NaN,NaN
2,3,Inv3,733,1090,164,86,30,NaN,NaN,5,NaN,NaN,NaN,NaN
3,4,Inv4,278,726,121,23,40,NaN,NaN,6,NaN,NaN,NaN,NaN
4,5,Inv5,980,475,164,36,55,NaN,NaN,7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,704,107,46,32,NaN,NaN,6,NaN,NaN,NaN,NaN
496,497,Inv497,545,1242,186,60,26,NaN,NaN,7,NaN,NaN,NaN,NaN
497,498,Inv498,763,1464,254,86,37,NaN,NaN,6,NaN,NaN,NaN,NaN
498,499,Inv499,832,87,144,76,43,NaN,NaN,9,NaN,NaN,NaN,NaN
499,500,Inv500,471,185,286,5,53,NaN,NaN,7,NaN,NaN,NaN,NaN

In [15]:
#qunaity orderd - qunaity used is InventoryQuantityinStock
df['InventoryQuantityinStock'] = df['Inventory_Initial_Quantity_Ordered'] - df['InventoryQuantityUsed']
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,1453,239,6,37,233,NaN,6,NaN,NaN,NaN,NaN
1,2,Inv2,928,834,299,55,20,244,NaN,8,NaN,NaN,NaN,NaN
2,3,Inv3,733,1090,164,86,30,78,NaN,5,NaN,NaN,NaN,NaN
3,4,Inv4,278,726,121,23,40,98,NaN,6,NaN,NaN,NaN,NaN
4,5,Inv5,980,475,164,36,55,128,NaN,7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,704,107,46,32,61,NaN,6,NaN,NaN,NaN,NaN
496,497,Inv497,545,1242,186,60,26,126,NaN,7,NaN,NaN,NaN,NaN
497,498,Inv498,763,1464,254,86,37,168,NaN,6,NaN,NaN,NaN,NaN
498,499,Inv499,832,87,144,76,43,68,NaN,9,NaN,NaN,NaN,NaN
499,500,Inv500,471,185,286,5,53,281,NaN,7,NaN,NaN,NaN,NaN

In [16]:
ids= []
for i in range(0,500):
   ids.append(random.choice(range(0, 15)))

df['WarehouseID'] = ids
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,1453,239,6,37,233,NaN,6,NaN,NaN,12,NaN
1,2,Inv2,928,834,299,55,20,244,NaN,8,NaN,NaN,8,NaN
2,3,Inv3,733,1090,164,86,30,78,NaN,5,NaN,NaN,7,NaN
3,4,Inv4,278,726,121,23,40,98,NaN,6,NaN,NaN,14,NaN
4,5,Inv5,980,475,164,36,55,128,NaN,7,NaN,NaN,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,704,107,46,32,61,NaN,6,NaN,NaN,10,NaN
496,497,Inv497,545,1242,186,60,26,126,NaN,7,NaN,NaN,1,NaN
497,498,Inv498,763,1464,254,86,37,168,NaN,6,NaN,NaN,8,NaN
498,499,Inv499,832,87,144,76,43,68,NaN,9,NaN,NaN,6,NaN
499,500,Inv500,471,185,286,5,53,281,NaN,7,NaN,NaN,7,NaN

In [17]:
ids= []
for i in range(0,500):
   ids.append(random.choice(range(0, 65)))

df['RawMaterialID'] = ids
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,1453,239,6,37,233,NaN,6,NaN,NaN,12,34
1,2,Inv2,928,834,299,55,20,244,NaN,8,NaN,NaN,8,49
2,3,Inv3,733,1090,164,86,30,78,NaN,5,NaN,NaN,7,22
3,4,Inv4,278,726,121,23,40,98,NaN,6,NaN,NaN,14,15
4,5,Inv5,980,475,164,36,55,128,NaN,7,NaN,NaN,14,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,704,107,46,32,61,NaN,6,NaN,NaN,10,50
496,497,Inv497,545,1242,186,60,26,126,NaN,7,NaN,NaN,1,4
497,498,Inv498,763,1464,254,86,37,168,NaN,6,NaN,NaN,8,11
498,499,Inv499,832,87,144,76,43,68,NaN,9,NaN,NaN,6,57
499,500,Inv500,471,185,286,5,53,281,NaN,7,NaN,NaN,7,25

In [18]:
#randomly add InventoryStockStatus
df['InventoryStockStatus'] = random.choices(['In Stock', 'Out of Stock', 'In Transit', 'Damaged'], k=len(df))
df

,InventoryID,InventoryName,InventoryRackNumber,InventoryBatchNumber,Inventory_Initial_Quantity_Ordered,InventoryQuantityUsed,InventoryQuantityinTransit,InventoryQuantityinStock,InventoryReorderThreshold,InventoryDamagedQuantity,InventoryStockStatus,InventoryType,WarehouseID,RawMaterialID
0,1,Inv1,534,1453,239,6,37,233,NaN,6,Damaged,NaN,12,34
1,2,Inv2,928,834,299,55,20,244,NaN,8,Out of Stock,NaN,8,49
2,3,Inv3,733,1090,164,86,30,78,NaN,5,Damaged,NaN,7,22
3,4,Inv4,278,726,121,23,40,98,NaN,6,Damaged,NaN,14,15
4,5,Inv5,980,475,164,36,55,128,NaN,7,In Transit,NaN,14,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Inv496,719,704,107,46,32,61,NaN,6,In Stock,NaN,10,50
496,497,Inv497,545,1242,186,60,26,126,NaN,7,In Stock,NaN,1,4
497,498,Inv498,763,1464,254,86,37,168,NaN,6,In Transit,NaN,8,11
498,499,Inv499,832,87,144,76,43,68,NaN,9,Damaged,NaN,6,57
499,500,Inv500,471,185,286,5,53,281,NaN,7,In Stock,NaN,7,25

In [19]:
#randomly add InventoryType
df['InventoryType'] = random.choices(['Raw Material', 'Work in Progress', 'Finished Goods'], k=len(df))

In [20]:
df['InventoryReorderThreshold']= 10

In [21]:
df.to_csv("Data/Inventory.csv")